
C/a.out
C/Ordenacao/output/bubblesort
C/Ordenacao/output/ordenacao_struct
C/Ordenacao/output/qsort
C/Gerador de arrays/output/gerador
C/Ordenacao/selectionSort
C/Ordenacao/output/selectionSort
Python/Data_Science_Academy/Analise Exploratoria de Dados/analise_1.py
Python/Data_Science_Academy/Analise Exploratoria de Dados/analise_2.py
Python/Data_Science_Academy/Certificados/certificate-fundamentos-de-linguagem-python-para-analise-de-dados-e-data-science-63eafc3b52d7b4001a07e6f5.pdf
Python/Data_Science_Academy/Certificados/certificate-fundamentos-de-linguagem-python-para-analise-de-dados-e-data-science-64286d6220eef53fd7085c53 (1).pdf
Python/Data_Science_Academy/Deep Learning/deep_learning.py
Python/Data_Science_Academy/Dicionarios/dicionarios.py
Python/Data_Science_Academy/Expressoes Regulares/expressoes_regulares.py
Python/Data_Science_Academy/Expressoes Regulares/REGEX_com_Python.py
Python/Data_Science_Academy/Funcoes Built-in/Abs_Round_Pow.py
Python/Data_Science_Academy/Funcoes Built-in/Enumerate.py
Python/Data_Science_Academy/Funcoes Built-in/Filter.py
Python/Data_Science_Academy/Funcoes Built-in/Map.py
Python/Data_Science_Academy/Funcoes Built-in/Reduce.py
Python/Data_Science_Academy/Funcoes Built-in/Zip.py
Python/Data_Science_Academy/Jogo da Forca/forca.py
Python/Data_Science_Academy/Lambda/lambda.py
Python/Data_Science_Academy/List e Dict Comprehension/list_dict_comprehencion.py
Python/Data_Science_Academy/Manipulacao de Arquivos/csv.py
Python/Data_Science_Academy/Manipulacao de Arquivos/json.py
Python/Data_Science_Academy/Manipulacao de Arquivos/open_read_seek_tell_pandas.py
Python/Data_Science_Academy/Manipulacao de Arquivos/os_and_with.py
Python/Data_Science_Academy/Manipulacao de listas/listas.py
Python/Data_Science_Academy/Matplotlib, Numpy, Pandas e Seaborn/graficos_estatisticos.py
Python/Data_Science_Academy/Matplotlib/custom_grafics.py
Python/Data_Science_Academy/Matplotlib/custom_grafics_2.py
Python/Data_Science_Academy/Matplotlib/graficos.py
Python/Data_Science_Academy/Matplotlib/graficos_2.py
Python/Data_Science_Academy/Matplotlib/graficos_3d.py
Python/Data_Science_Academy/Matplotlib/histograma.py
Python/Data_Science_Academy/NumPy/__pycache__/numpy.cpython-39.pyc
Python/Data_Science_Academy/NumPy/analise_estatistica.py
Python/Data_Science_Academy/NumPy/funcoes_numpy.py
Python/Data_Science_Academy/NumPy/manipulacao_arquivos.py
Python/Data_Science_Academy/NumPy/matrizes_numpy.py
Python/Data_Science_Academy/NumPy/numerical_python.py
Python/Data_Science_Academy/NumPy/operacoes_matematicas.py
Python/Data_Science_Academy/NumPy/slicing.py
Python/Data_Science_Academy/Pacotes e Modulos/pacotes_modulos.py
Python/Data_Science_Academy/Pandas/dataframes.py
Python/Data_Science_Academy/Pandas/diversos_valores.py
Python/Data_Science_Academy/Pandas/graficos.py
Python/Data_Science_Academy/Pandas/GroupBy.py
Python/Data_Science_Academy/Pandas/numpy_pandas.py
Python/Data_Science_Academy/Pandas/operadores_logicos.py
Python/Data_Science_Academy/Pandas/slicing.py
Python/Data_Science_Academy/Pandas/strings.py
Python/Data_Science_Academy/Pandas/valores_ausentes.py
Python/Data_Science_Academy/POO/atributos_classes.py
Python/Data_Science_Academy/POO/classes.py
Python/Data_Science_Academy/POO/classes2.py
Python/Data_Science_Academy/POO/herancas_classes.py
Python/Data_Science_Academy/POO/metodos_classe.py
Python/Data_Science_Academy/POO/polimorfismo_classes.py
Python/Data_Science_Academy/Reinforcement Learning/robo_trading.py
Python/Data_Science_Academy/Scikit-Learn e Machine Learning/machine_learning.py
Python/Data_Science_Academy/Scikit-Learn e Machine Learning/modelagem_preditiva.py
Python/Data_Science_Academy/Seaborn/graficos.py
Python/Data_Science_Academy/Series Temporais/series_temporais.py
Python/Data_Science_Academy/Series Temporais/suavizacao_exponencial.py
Python/Data_Science_Academy/SQL e Python/sql.py
Python/Data_Science_Academy/SQL e Python/sql_pandas.py
Python/Data_Science_Academy/Statsmodels/analise_statsmodels.py
Python/Data_Science_Academy/Statsmodels/Ordinary_Least_Squares(OLS).py
Python/Data_Science_Academy/Tratamento de erros/tratamento_erros_1.py
Python/Data_Science_Academy/Tratamento de erros/tratamento_erros_2.py
Python/Data_Science_Academy/Tuplas/tuplas.py
Python/Introducao_programacao_Cousera/Modulo_1/Certificado/certificado_python_modulo_1.pdf
Python/Introducao_programacao_Cousera/Modulo_1/DecomposicaoPrimos/decomposicao_primos.py
Python/Introducao_programacao_Cousera/Modulo_1/DecomposicaoPrimos/exercicios/fatorial_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/DecomposicaoPrimos/exercicios/primo_2_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/DecomposicaoPrimos/exercicios/retangulo_2_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/DecomposicaoPrimos/exercicios/retangulo_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/DetectorPlagio_and_Temperatura/coh_piah.py
Python/Introducao_programacao_Cousera/Modulo_1/DetectorPlagio_and_Temperatura/temperatura.py
Python/Introducao_programacao_Cousera/Modulo_1/EntradaDados_and_OperacoesMatematicas/conversor_tempo.py
Python/Introducao_programacao_Cousera/Modulo_1/EntradaDados_and_OperacoesMatematicas/dezenas.py
Python/Introducao_programacao_Cousera/Modulo_1/EntradaDados_and_OperacoesMatematicas/fatura.py
Python/Introducao_programacao_Cousera/Modulo_1/EntradaDados_and_OperacoesMatematicas/media_notas.py
Python/Introducao_programacao_Cousera/Modulo_1/EntradaDados_and_OperacoesMatematicas/quadrado.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/exercicios/maior_elemento_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/exercicios/manipulacao_listas_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/exercicios/remove_repetidos_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/exercicios/sequencia_inversa_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/exercicios/soma_elementos_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/for.py
Python/Introducao_programacao_Cousera/Modulo_1/For_and_Listas/listas.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/fatorial_2_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/fizzbuzz_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/maior_primo_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/maximo_2_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/maximo_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/exercicios/vogal_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/Funcoes/funcoes.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/bhaskara_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/buzz_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/distancia_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/fizz_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/fizzbuzz_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/ordenacao_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/exercicios/par_impar_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/If_Else/if_else.py
Python/Introducao_programacao_Cousera/Modulo_1/Jogo_NIM/nim.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/exercicios/adjacente_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/exercicios/fatorial_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/exercicios/impares_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/exercicios/primo_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/exercicios/soma_algarismos_ex.py
Python/Introducao_programacao_Cousera/Modulo_1/While_Fatorial_and_Primos/while.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/BubbleSort_Melhorado.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/Busca_Binaria.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/exercicios/BubbleSort_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/exercicios/Busca_Binaria_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/InsertionSort.py
Python/Introducao_programacao_Cousera/Modulo_2/Bubble_Insertion_and_BuscaBinaria/medicao_tempo.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/busca_sequencial.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/exercicios/busca_seq_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/exercicios/geracao_inteiros_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/exercicios/lista_ordenada_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/exercicios/ordena_lista_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/BuscaSequencial_and_SelectionSort/SelectionSort.py
Python/Introducao_programacao_Cousera/Modulo_2/Certificado/certificado_python_modulo_2.pdf
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/exercicios/matrizes_multiplicaveis_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/exercicios/multiplica_matrizes_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/exercicios/soma_matrizes_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/exercicios/tamanho_matriz_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/imprime_matriz.py
Python/Introducao_programacao_Cousera/Modulo_2/Matrizes/matrizes.py
Python/Introducao_programacao_Cousera/Modulo_2/POO/exercicios/triangulo_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/POO/POO.py
Python/Introducao_programacao_Cousera/Modulo_2/POO/POO_2.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/exercicios/elefantes_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/exercicios/encontra_impares_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/exercicios/fatorial_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/exercicios/fibonnaci_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/exercicios/soma_elementos_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/MergeSort.py
Python/Introducao_programacao_Cousera/Modulo_2/Recursao/recursao.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/conceitos_uteis.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/exercicios/conta_letras_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/exercicios/mais_curto_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/exercicios/maisculas_frase_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/exercicios/ordem_lexicografica_ex.py
Python/Introducao_programacao_Cousera/Modulo_2/Strings/strings.py
.vscode/tasks.json
C/Ponteiros/output/ponteiros
Aulas/Algoritmos e Estruturas de Dados I/Atividades Semana 1/output/ACH2023_AtividadeSemanal1_codigo2
Aulas/Algoritmos e Estruturas de Dados I/Atividades Semana 1/output/ACH2023_AtividadeSemanal1_codigo1
Aulas/Algoritmos e Estruturas de Dados I/Lista Linear Sequencial/output/lista_linear_sequencial_v2
C/Ordenacao/output/insertionSort
C/Ordenacao/insertionSort
Aulas/Algoritmos e Estruturas de Dados I/Lista Linear Sequencial/output/lista_linear_sequencial
Aulas/Algoritmos e Estruturas de Dados I/Lista Ligada/output/lista_ligada
Aulas/Algoritmos e Estruturas de Dados I/Lista Ligada/output/lista_ligada_dinamica
Aulas/Algoritmos e Estruturas de Dados I/Lista Ligada/lista_ligada_dinamica
Aulas/Introducao a Analise de Algoritmos/RevisaoC.c
Aulas/Introducao a Analise de Algoritmos/RevisaoC.c
Aulas/Introducao a Analise de Algoritmos/Recursao
Aulas/Introducao a Analise de Algoritmos/output/Recursao
Aulas/Introducao a Analise de Algoritmos/RevisaoC.c
Aulas/Algoritmos e Estruturas de Dados I/Lista Ligada Circular  com Nó Cabeça/lista_circular
Aulas/Algoritmos e Estruturas de Dados I/Lista Ligada Circular  com Nó Cabeça/output/lista_circular
SQL - Hashtag Programacao/Apostila/Apostilas e Materiais de Apoio - SQL Impressionador.zip
Hashtag Programacao/SQL/Apostila/Apostilas e Materiais de Apoio - SQL Impressionador.zip
